@model Inhera.NotificationService.Models.Vms.Authentication.AuthLoginCodeVm
@{
    Layout = "~/Views/Layouts/Default.cshtml";
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
           style="background-color:#ffffff;border-radius:8px;padding:2rem">
        <tbody>
            <tr>
                <td>
                    <h1 style="text-align:center;margin:0 0 8px 0;font-family:Helvetica, Arial, sans-serif">
                        Ihr Sicherheitscode
                    </h1>

                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="background:rgba(0,0,0,.05);border-radius:4px;margin:16px auto 14px;vertical-align:middle;border:2px solid #2f9bfe">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="font-size:32px;line-height:40px;margin:0 auto;color:#2f9bfe;display:inline-block;
                               font-family:Helvetica, Arial, sans-serif;font-weight:700;letter-spacing:6px;
                               padding:8px 0;width:100%;text-align:center">
                                        @Model?.Code
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p style="text-align:center;font-size:14px;line-height:24px;margin:16px 0;font-family:Helvetica, Arial, sans-serif">
                        Bitte verwenden Sie diesen Sicherheitscode, um sich innerhalb der <strong>nächsten 15&nbsp;Minuten</strong>
                        bei Ihrem Konto auf <strong>Inhera.io</strong> anzumelden.
                    </p>

                    <p style="text-align:center;font-size:14px;line-height:24px;margin:16px 0;font-family:Helvetica, Arial, sans-serif">
                        Wenn Sie diese Anfrage nicht selbst angefordert haben, ignorieren Sie diese E-Mail bitte
                        und kontaktieren Sie unser Support-Team.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
}
