<table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
    <tbody>
        <tr>
            <td>
                <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
                    <tbody style="width:100%">
                        <tr style="width:100%">
                            <td align="center" data-id="__react-email-column">
                                <img alt="Logo" height="100" src="/static/logo-daensk.svg"
                                    style="display:block;outline:none;border:none;text-decoration:none" width="150" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>